<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/create-struct">Create-Format</a>
      <a mat-list-item href="#" routerLink="/subjects">Subjects</a>
      <a mat-list-item href="#" routerLink="/create-result">Enter-Marks</a>
      <a mat-list-item href="#" routerLink="/format">View-Format</a>
      <a mat-list-item href="#" routerLink="/view-subject">View-subjects</a>
      <a mat-list-item href="#" routerLink="/result">View-Result</a>
      <a mat-list-item href="#" routerLink="/download-result">Download-Result</a>
      <a mat-list-item href="#" routerLink="/help">Help</a>
      <!-- <a mat-list-item href="#" routerLink="/add-admin">Add-Admin</a> -->
      <a mat-list-item href="#" (click)="Logout()" >Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="user-name">{{firstname}}&nbsp;{{middlename}}&nbsp;{{lastname}}</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

